@import url("reset.css");
body{
    font-family:"Helvetica", "Arial","LiHei Pro","微軟正黑體", sans-serif;
    /* word-spacing: 5px; */
    letter-spacing: 2px;
    background-image: url(../image/html_bg.png);
}

.navbar_rwd{
    display: none;
}

.navbar{
    position: relative;
}

.navbar_content{
    width: 1200px;
    height: 80px;
    margin: 0 auto;
}

.navbar_content img{
    float: left;
    height: 60px;
    margin-top: 10px;
}

.navbar_content .fa-bars {
    display: none;
}

.navbar_content .fa-times {
    display: none;
}

.navbar_content ul{
    float: right;
}

.navbar_content li{
    float: left;
    line-height: 80px;
}

.nav_links a{
    display: block;
    text-decoration: none;
    color: #025255;
    padding: 0 20px;
    font-size: 18px;
}

.booking_pc{
    margin-left: 20px;
}

.booking_pc a, .booking a{
  appearance: none;
  background-color: #F9C50F;
  border: 2px solid transparent;
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.booking_pc a:disabled {
  pointer-events: none;
}

.booking_pc a:hover {
  color: #fff;
  background-color: #025255;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-5px);
}

.booking_pc a:active {
  box-shadow: none;
  transform: translateY(0);
}
.banner{
    background-image: url(../image/Rectangle_white\ 58.png), url(../image/booking_banner.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain, cover;
    background-position: 0, center center;
    padding-top: 14.3%;
    padding-bottom: 14.3%;
    /* border: 1px solid transparent; */
}

.banner p{
    color: white;
    font-size: 28px;
    line-height: 1.8;
    margin-left: 40px;
}

.choose{
    width: 1000px;
    height: 90px;
    /* border: 1px solid rgb(66, 65, 65); */
    margin: 0 auto; 
    font-size: 20px;
    background-color: rgb(175, 171, 171); 
    border-radius: 10px;
    margin-top: 50px;
    color:white;
}

.content{
    width: 900px;
    margin: 0 auto;
    display: flex;
    padding-top: 30px;
    font-size: 20px;
    line-height: 1.3;
}

.date{
    display: flex;
}

.choose input{
    font-size: 16px;
    height: 22px;
    border-radius: 8px;
    border-color: transparent;
    padding-left: 5px;
}

#people{
    font-size: 16px;
    width: 80px;
    height: 24px;
    border-radius: 6px;
    padding-left: 3px;
    border-color: transparent;
}

.number{
    margin-left: 20px;
}

.result{
    width: 1000px;
    margin: 0 auto;
}

.result ul{
    margin-top: 80px;
}

.result li{
    display: flex;
    background-color: #fff;
    margin-bottom: 30px;
}

.result_text{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 20px;
    line-height: 1.4;
    padding: 20px;
}

.result_text h2{
    color: #025255;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
}

.result_text h3{
    color: #797672;
    font-size: 18px;
    margin-top: 40px;
}

.result p{
    color: #797672;
    font-size: 18px;
}

.result img{
    border-radius: 15px;
    margin: 25px auto 20px 20px;
}

#btn {
  background-color: #797672;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 80px;
}

#btn:hover, #btn:focus {
  background-color: #025255;
}

.price{
    display: flex;
    margin-top: 10px;
}
  
.price h1{
    color: #025255;
    font-size: 20px;
    font-weight: 600;
}

.footer{
    background-color: #025255;
    /* height: 200px; */
    margin-top: 100px;
    /* font-size: 18px; */
}
.footer_container{
    /* border: 1px solid #999; */
    width: 800px;
    margin: 0 auto;
    display: flex;
    padding: 20px;
}

.footer_text{
    color: white;
    line-height: 1.5;
    /* outline: 1px solid #999; */
    width: 400px; 
}

.footer_info{
    padding-top: 20px;
    
}

.footer_announce{
    padding-top: 20px;
    font-size: 12px;
}

.footer_menu{
    /* outline: 1px solid#fff; */
    padding-top: 150px;
}

.footer_menu li{
    float: left;
}

.footer_menu a{
    font-size: 25px;
    color: white;
    padding-right: 10px;
}

.bottom_menu{
    /* outline: 1px solid red; */
    padding-top: 40px;
    padding-left: 30px;
    margin-right: 50px;
}

.bottom_menu a{
    color:white;
    line-height: 1.7;
}

/*漢堡選單開啟時，背景不滾動*/
.fixed{
    overflow: hidden;
}
 /*------------------428--------------------*/
 @media  screen and (max-width: 428px){
    .body{
        background-image: url(../image/html_bg.png);
    }
  
    .navbar{
        display: none;
    }

    .nav_links .booking_pc{
        display: none;
    }
    .navbar_content_rwd .booking{
        width: 130px;
        margin-right: 40px;
        float: right;
        border: navajowhite;
    }
    .navbar_content_rwd .booking a{
        border-radius: 0%;
    }

    .navbar_rwd{
        display: block;
    }
    .navbar_content_rwd{
        width: auto;
        height: 60px;
        position: relative;
    }

    .navbar_content_rwd img{
        height: 40px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .navbar_content_rwd .fa-bars{
        display: block;
        float: right;
        margin-top: 20px;
        margin-right: 20px;
        font-size: 20px;
        color: #025255;
    }

    .navbar_content_rwd .fa-times{
        display: block;
        float: right;
        margin-top: 20px;
        margin-right: 20px;
        font-size: 22px;
        color: #025255;
    }

    .nav_links_rwd{
        background-color: rgb(197, 196, 196);
        position: absolute;
        right: 0;
        top: 60px;
        width: 100%;
        overflow: hidden;
        z-index: 1;
    }

    .show{
        height: 100vh;
        transition: height 0.3s ease-in ;
    }

    .unShow{
        height: 0vh;
        transition: height 0.3s ease-out ;
    }
  
    .nav_links_rwd li{
        float: none;
        clear: both;
        line-height: 60px;
        border-bottom: 1px solid rgb(235, 233, 233);
        text-align: center;
    }

    .nav_links_rwd a{
        display: block;
        text-decoration: none;
        color: #025255;
        padding: 0 20px;
        font-size: 18px;
    }

    .banner{
        background-image: url(../image/Rectangle_white\ 58.png), url(../image/booking_banner.png);
        width: 100%;
        background-size: cover, cover;
        background-position: center, center;
        padding-top: calc(28.6% - 35px);
        /* border: 1px solid transparent; */
    }
    
    .banner p{
        font-size: 16px;
        line-height: 1.6;
        margin: auto;
        padding-bottom: 35px;
        text-align: center;
    }

    .choose{
        width: auto;
        height: 140px;
        border-radius: 0%;
    }

    .content{
        width: 100%;
        display: block;
        text-align: center;
        padding-top: 15px;
    }

    .date{
        flex-direction: column;
    }

    #from, #to{
        width: 120px;
    }

    .date_pick{
        margin: 20px 0px;
    }
    
    .number{
        margin-left: 0;
    }

    .result{
        width: auto;
    }

    .result li{
        display: block;
        
    }

    .result_text h2{
        font-size: 22px;
    }

    .result_text h3{
        font-size: 16px;
    }
    
    .result p{
        font-size: 18px;
    }

    .result img{
        display: block;
        width: 90%;
        border-radius: 5px;
        margin: 25px 20px 20px 20px;
    }

    #btn {
        margin-left: 120px;
      }
        
    .price h1{
          font-size: 16px;
      }
      
    .footer{
        height: auto;
        font-size: 12px;
    }

    .footer_container{
        /* border: 1px solid #999; */
        width: auto;
    }

    .footer_text{
        line-height: 1.6;
        /* border: 1px solid #999; */
        width: auto;
        margin: 0 auto;
    }

    .footer_info{
        padding-top: 30px;
        font-size: 12px;
    }

    .footer_announce{
        padding-top: 30px;
    }
    
    .footer_menu{
        display: none;
    }
    
    .bottom_menu{
        display: none;
    }
 }

