@import url("reset.css");
body{
    font-family:"Helvetica", "Arial","LiHei Pro","微軟正黑體", sans-serif;
    /* word-spacing: 5px; */
    letter-spacing: 2px;
}

.navbar_rwd{
    display: none;
}

.navbar{
    position: relative;
}

.navbar_content{
    width: 1200px;
    height: 80px;
    margin: 0 auto;
}

.navbar_content img{
    float: left;
    height: 60px;
    margin-top: 10px;
}

.navbar_content .fa-bars {
    display: none;
}

.navbar_content .fa-x {
    display: none;
}

.navbar_content ul{
    float: right;
}

.navbar_content li{
    float: left;
    line-height: 80px;
}

.nav_links a{
    display: block;
    text-decoration: none;
    color: #025255;
    padding: 0 20px;
    font-size: 18px;
}

.booking_pc{
    margin-left: 20px;
}

.booking_pc a, .booking a{
  appearance: none;
  background-color: #F9C50F;
  border: 2px solid transparent;
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.booking_pc a:disabled {
  pointer-events: none;
}

.booking_pc a:hover {
  color: #fff;
  background-color: #025255;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-5px);
}

.booking_pc a:active {
  box-shadow: none;
  transform: translateY(0);
}

.banner{
    background-image: url(../image/booking_banner.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    padding-top: 28.6%;
    background-position: center center;
}

.date{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color:#025255;
    line-height: 1.6;
    font-weight: 600;
}

.confirm{
    width: 900px;
    margin: 0 auto;
}

.confirm ul{
    margin-top: 40px;
}

.confirm li{
    display: flex;
    border: 1px solid #bdbcba;
    border-radius: 10px;
    margin-bottom: 30px;
}

.info img{
    margin: 10px 0 10px 10px;
}

.info p{
    color: #797672;
    margin-left: 20px;
    margin-bottom: 10px;
    line-height: 1.3;
}

.content{
    margin-left: 18px;
    margin-top: 20px;
    line-height: 1.4;
    padding: 10px;
}
.content h2{
    color: #025255;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
}

.content p{
    color: #797672;
    font-size: 20px;
    padding-right: 10px;
}

.content h3{
    color: #797672;
    margin-top: 30px;
    font-size: 16px;
}

.content h1{
    color: #025255;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
}

.contact{
    outline: 1px solid #bdbcba;
    width: 900px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.contact h2{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color:#025255;
    line-height: 1.6;
    font-weight: 600;
    padding-top: 15px;
}

.contact input{
    display: flex;
    margin: 20px auto;
    border: 1px solid #025255;
    width: 80%;
    height: 32px;
    border-radius: 10px;
    padding: 2px 12px;
}

.need{
    display: block;
    color:#025255;
    padding: 0px 60px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 30px;
}

#need{
    margin: 20px 15px;
    width: 95%;
}

.next{
    width: 300px;
    margin: 0 auto;
}

.back{
    background-color: #025255;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
    color:white;
    font-weight: 550;
    margin-right: 20px;
    cursor: pointer;
}

.ok{
    background-color: #F9C50F;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 550;
    margin-left: 20px;
    cursor: pointer;
}

.footer{
    background-color: #025255;
    /* height: 200px; */
    margin-top: 100px;
    /* font-size: 18px; */
}
.footer_container{
    /* border: 1px solid #999; */
    width: 800px;
    margin: 0 auto;
    display: flex;
    padding: 20px;
}

.footer_text{
    color: white;
    line-height: 1.5;
    /* outline: 1px solid #999; */
    width: 400px; 
}

.footer_info{
    padding-top: 20px;
    
}

.footer_announce{
    padding-top: 20px;
    font-size: 12px;
}

.footer_menu{
    /* outline: 1px solid#fff; */
    padding-top: 150px;
}

.footer_menu li{
    float: left;
}

.footer_menu a{
    font-size: 25px;
    color: white;
    padding-right: 10px;
}

.bottom_menu{
    /* outline: 1px solid red; */
    padding-top: 40px;
    padding-left: 30px;
    margin-right: 50px;
}

.bottom_menu a{
    color:white;
    line-height: 1.5;
}

/*漢堡選單開啟時，背景不滾動*/
.fixed{
    overflow: hidden;
}
 /*------------------428--------------------*/
 @media  screen and (max-width: 428px){
    .navbar{
        display: none;
    }

    .nav_links .booking_pc{
        display: none;
    }
    .navbar_content_rwd .booking{
        width: 130px;
        margin-right: 40px;
        float: right;
        border: navajowhite;
    }
    .navbar_content_rwd .booking a{
        border-radius: 0%;
    }

    .navbar_rwd{
        display: block;
    }
    .navbar_content_rwd{
        width: auto;
        height: 60px;
        position: relative;
    }

    .navbar_content_rwd img{
        height: 40px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .navbar_content_rwd .fa-bars{
        display: block;
        float: right;
        margin-top: 20px;
        margin-right: 20px;
        font-size: 20px;
        color: #025255;
    }

    .navbar_content_rwd .fa-x{
        display: block;
        float: right;
        margin-top: 20px;
        margin-right: 20px;
        font-size: 23px;
        color: #025255;
    }

    .nav_links_rwd{
        background-color: rgb(197, 196, 196);
        position: absolute;
        right: 0;
        top: 60px;
        width: 100%;
        overflow: hidden;
        z-index: 1;
    }

    .show{
        height: 100vh;
        transition: height 0.3s ease-in ;
    }

    .unShow{
        height: 0vh;
        transition: height 0.3s ease-out ;
    }
  
    .nav_links_rwd li{
        float: none;
        clear: both;
        line-height: 60px;
        border-bottom: 1px solid rgb(235, 233, 233);
        text-align: center;
    }

    .nav_links_rwd a{
        display: block;
        text-decoration: none;
        color: #025255;
        padding: 0 20px;
        font-size: 18px;
    }

    .confirm{
        width: auto;
    }

    .confirm li{
        flex-direction: column;
        border: none;
    }

    .info p{
        display: none;
    }

    .info img{
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    
    .contact{
        width: 100%;
        outline: none;
        border-radius: 0%;
    }

    .need_content{
        margin: 0 auto;
    }

    .need_label{
        display: block;
        margin-bottom: 20px;
        line-height: 1.4;
        text-align: center;
    }
    
    #need{
        margin: 0;
        width: 100%;
    }
    
    .footer{
        height: auto;
        font-size: 12px;
    }

    .footer_container{
        /* border: 1px solid #999; */
        width: auto;
    }

    .footer_text{
        line-height: 1.6;
        /* border: 1px solid #999; */
        width: auto;
        margin: 0 auto;
    }

    .footer_info{
        padding-top: 30px;
        font-size: 12px;
    }

    .footer_announce{
        padding-top: 30px;
    }
    
    .footer_menu{
        display: none;
    }
    
    .bottom_menu{
        display: none;
    }

}