@import url("reset.css");

.footer{
    background-color: #025255;
    height: 300px;
    margin-top: 100px;
    font-size: 18px;
}
.footer_container{
    /* border: 1px solid #999; */
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

.footer_text{
    color: white;
    line-height: 1.8;
    /* border: 1px solid #999; */
    width: 500px; 
}

.footer_info{
    padding-top: 40px; 
}

.footer_announce{
    padding-top: 30px;
}

.footer_menu{
    padding-top: 180px;
    padding-left: 140px;
}

.footer_menu li{
    float: left;
}

.footer_menu a{
    font-size: 30px;
    color: white;
    padding-right: 20px;
}

.bottom_menu{
    padding-top: 40px;
    padding-left: 60px;
}

.bottom_menu a{
    color:white;
    line-height: 1.8;
}

@media  screen and (max-width: 428px){
  
    .footer{
        height: auto;
        font-size: 12px;
    }

    .footer_container{
        /* border: 1px solid #999; */
        width: auto;
    }

    .footer_text{
        line-height: 1.6;
        /* border: 1px solid #999; */
        width: auto;
        margin: 0 auto;
    }

    .footer_info{
        padding-top: 30px;
        font-size: 12px;
    }

    .footer_announce{
        padding-top: 30px;
    }
    
    .footer_menu{
        display: none;
    }
    
    .bottom_menu{
        display: none;
    }

}