@import url("./reset.css");
    body{
        font-family:"Helvetica", "Arial","LiHei Pro","微軟正黑體", sans-serif;
        /* word-spacing: 5px; */
        letter-spacing: 2px;
    }

    .navbar_rwd{
        display: none;
    }

    .navbar{
        position: relative;
    }

    .navbar_content{
        width: 1200px;
        height: 80px;
        margin: 0 auto;
    }

    .navbar_content img{
        float: left;
        height: 60px;
        margin-top: 10px;
    }

    .navbar_content .fa-bars {
        display: none;
    }

    .navbar_content .fa-x {
        display: none;
    }

    .navbar_content ul{
        float: right;
    }

    .navbar_content li{
        float: left;
        line-height: 80px;
    }

    .nav_links a{
        display: block;
        text-decoration: none;
        color: #025255;
        padding: 0 20px;
        font-size: 18px;
    }

    .booking_pc{
        margin-left: 20px;
    }

    .booking_pc a, .booking a{
      appearance: none;
      background-color: #F9C50F;
      border: 2px solid transparent;
      border-radius: 15px;
      box-sizing: border-box;
      color: white;
      cursor: pointer;
      display: inline-block;
      font-weight: 600;
      line-height: normal;
      margin: 0;
      min-height: 60px;
      min-width: 0;
      outline: none;
      padding: 16px 24px;
      text-align: center;
      text-decoration: none;
      transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: 100%;
      will-change: transform;
    }
    
    .booking_pc a:disabled {
      pointer-events: none;
    }
    
    .booking_pc a:hover {
      color: #fff;
      background-color: #025255;
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      transform: translateY(-5px);
    }
    
    .booking_pc a:active {
      box-shadow: none;
      transform: translateY(0);
    }
    
    .banner{
        background-image: url(../image/Rectangle\ 58.png), url(../image/index_banner.png);
        background-repeat: no-repeat;
        background-size: contain, cover;
        width: 100%;
        padding-top: 22.6%;
        /* padding-bottom: 2.3%; */
        background-position: 0, center;
    }
    
    .banner p{
        color: white;
        font-size: 24px;
        line-height: 1.8;
        margin-left: 40px;
    }
    
    .index_container{
        width: 1260px; 
        margin: 0 auto;
    }
    
    .letsplay{
        display: block;
        margin: 0 auto;
        width: 500px;
        height: 60px; 
        background-color: #F9C50F;
        margin-top: 40px;
        /* transition: all 1s; */
    }
    
    .letsplay h3{
        text-align: center;
        color: #025255;
        font-weight: bold;
        font-size: 35px;
        padding: 15px;
        position: relative;
    }

    .letsplay h3::after{
        content: '';
        display: block;
        width: 500px;
        height: 60px; 
        background-color: #025255;
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: -1;
    }
    
    .playintro{
        display: flex;
        margin: 50px auto;
        color:#025255;
        position: relative;
    }
    
    .playintro a{
        text-decoration: none;
        color:#025255
    }
    
    .playintro li{
        text-align: center;
        box-sizing: border-box;
        padding: 10px;
        line-height: 1.6;
        cursor: pointer;
    }
    
    .playintro h2{
        font-size: 30px;
        font-weight: bold;
        padding-top: 10px;
        background-image: url(../image/yellow.svg);
        background-repeat: no-repeat;
        background-size: 230px 35px;
        background-position: 130px 20px;
    }
    
    .playintro p{
        font-size: 20px;
        margin-top: 20px;
    }
    
    .letseat{
        display: block;
        margin: 0 auto;
        width: 500px;
        height: 60px; 
        background-color: #025255;
        margin-top: 30px; 
    }
    
    .letseat h3{
        text-align: center;
        color: #F9c50F;
        font-weight: bold;
        font-size: 35px;
        padding: 15px;
        position: relative;
    }
    .letseat h3::after{
        content: '';
        display: block;
        width: 500px;
        height: 60px; 
        background-color: #F9c50F;
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: -1;
    }
    
    .eatintro{
        display: flex;
        margin: 50px auto 20px auto;
    }
    
    .eatintro li{
        text-align: center;
        box-sizing: border-box;
        flex-grow: 1;
        padding: 10px;
    }
    
    .eatp p{
        width: 500px;
        font-size: 20px;
        color: #025255;
        margin: 0 auto;
        text-align: center;
        line-height: 1.8;
    }
    
    .playintro img, .eatintro img{
        border-radius: 12px;
    }
    
    .playintro img:hover, .eatintro img:hover{
        opacity: 0.7;
        filter:alpha(opacity= 90 );
    }
    
    .footer{
        background-color: #025255;
        /* height: 200px; */
        margin-top: 100px;
        /* font-size: 18px; */
    }
    .footer_container{
        /* border: 1px solid #999; */
        width: 800px;
        margin: 0 auto;
        display: flex;
        padding: 20px;
    }
    
    .footer_text{
        color: white;
        line-height: 1.5;
        /* outline: 1px solid #999; */
        width: 400px; 
    }

    .footer_info{
        padding-top: 20px;
        
    }

    .footer_announce{
        padding-top: 20px;
        font-size: 12px;
    }
    
    .footer_menu{
        /* outline: 1px solid#fff; */
        padding-top: 150px;
    }
    
    .footer_menu li{
        float: left;
    }
    
    .footer_menu a{
        font-size: 25px;
        color: white;
        padding-right: 10px;
    }
    
    .bottom_menu{
        /* outline: 1px solid red; */
        padding-top: 40px;
        padding-left: 30px;
        margin-right: 50px;
    }
    
    .bottom_menu a{
        color:white;
        line-height: 1.5;
    }

    /*漢堡選單開啟時，背景不滾動*/
    .fixed{
        overflow: hidden;
    }
/*-------------------- 428 ---------------------*/
@media  screen and (max-width: 428px){
    .navbar{
        display: none;
    }

    .nav_links .booking_pc{
        display: none;
    }
    .navbar_content_rwd .booking{
        width: 130px;
        margin-right: 40px;
        float: right;
        border: navajowhite;
    }
    .navbar_content_rwd .booking a{
        border-radius: 0%;
    }

    .navbar_rwd{
        display: block;
    }
    .navbar_content_rwd{
        width: auto;
        height: 60px;
        position: relative;
    }

    .navbar_content_rwd img{
        height: 40px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .navbar_content_rwd .fa-bars{
        display: block;
        float: right;
        margin-top: 20px;
        margin-right: 20px;
        font-size: 20px;
        color: #025255;
    }

    .navbar_content_rwd .fa-x{
        display: block;
        float: right;
        margin-top: 20px;
        margin-right: 20px;
        font-size: 23px;
        color: #025255;
    }

    .nav_links_rwd{
        background-color: rgb(197, 196, 196);
        position: absolute;
        right: 0;
        top: 60px;
        width: 100%;
        overflow: hidden;
        z-index: 1;
    }

    .show{
        height: 100vh;
        transition: height 0.3s ease-in ;
    }

    .unShow{
        height: 0vh;
        transition: height 0.3s ease-out ;
    }
  
    .nav_links_rwd li{
        float: none;
        clear: both;
        line-height: 60px;
        border-bottom: 1px solid rgb(235, 233, 233);
        text-align: center;
    }

    .nav_links_rwd a{
        display: block;
        text-decoration: none;
        color: #025255;
        padding: 0 20px;
        font-size: 18px;
    }

    .banner{
        background-image: url(../image/Rectangle\ 58.png), url(../image/index_banner.png);
        background-size: cover, cover;
        width: 100%;
        padding-top: calc(28.6% - 35px);
        /* padding-bottom: 2.3%; */
        background-position: center, center;
    }
    
    .banner p{
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        margin-left: auto;
        padding-bottom: 35px;
    }

    .index_container{
        width: auto; 
    }

    .letsplay{
        width: auto;
        height: auto; 
        background-color: transparent;
    }

    .letsplay h3{
        font-size: 25px;
        padding: 0;
        margin-bottom: 10px;
    }
    
    .letsplay h3::after{
       display: none;
    }

    .playintro{
        display: inline;
    }

    .playintro h2{
        font-size: 22px;
    }

    .playintro p{
        font-size: 18px;
    }

    .playintro img, .eatintro img{
        display: block;
        width: 100%;
        height: 70%;
    }

    .letseat{
        width: auto;
        height:auto; 
        background-color: transparent; 
    }

    .letseat h3{
        font-size: 25px;
        padding: 0;
        margin-bottom: 10px;
    }
    
    .letseat h3::after{
        display: none;
    }

    .eatintro{
        display: inline;
    }

    .eatp p{
        width: auto;
    }

    .footer{
        height: auto;
        font-size: 12px;
    }

    .footer_container{
        /* border: 1px solid #999; */
        width: auto;
    }

    .footer_text{
        line-height: 1.6;
        /* border: 1px solid #999; */
        width: auto;
        margin: 0 auto;
    }

    .footer_info{
        padding-top: 30px;
        font-size: 12px;
    }

    .footer_announce{
        padding-top: 30px;
    }
    
    .footer_menu{
        display: none;
    }
    
    .bottom_menu{
        display: none;
    }

   
} 
