@import url("reset.css");

body{
    font-family:"Helvetica", "Arial","LiHei Pro","微軟正黑體", sans-serif;
    /* word-spacing: 5px; */
    letter-spacing: 2px;
}
.navbar{
    display: flex;
      justify-content: center;
}
    
.item {
    flex-grow: 1;
    padding: 20px;
    border-bottom: 30px solid transparent;
    transition: 0.3s;
}

.logo{
    display: flex;
    width: 100px;
    /* height: 50px; */
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.nav_links{
    display: flex;
    justify-content: space-between;
    margin-left: 400px;
    color: white;
    margin-top: 25px;
}

.item a{
    text-decoration: none;
    font-size: 20px;
    color:#025255;
}

.item a:hover{
    color:#F9C50F;
}

.item:nth-child(4) a {
    border-bottom: 3px solid #025255;
}

.booking a{
  appearance: none;
  background-color: #F9C50F;
  border: 2px solid transparent;
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.booking a:disabled {
  pointer-events: none;
}

.booking a:hover {
  color: #fff;
  background-color: #025255;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-5px);
}

.booking a:active {
  box-shadow: none;
  transform: translateY(0);
}

.banner{
    background-image: url(../image/Rectangle\ 58_black.png), url(../image/map_banner.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain, cover;
    background-position: 0, center center;
    padding-top: 26.6%;
    padding-bottom: 2%;
}

.banner p{
    color: white;
    font-size: 28px;
    line-height: 1.8;
    margin-left: 40px;
}

.map{
    width: 420px;
    height: 600px;
    /* outline: 1px solid red; */
    float: left;
}

.map_container{
    /* border: 1px solid #999; */
    width: 1000px;
    height: 800px;
    margin: 40px auto 0 auto;
}

.branch{
    width: 510px;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 12px 20px 12px 12px;
    float: right;
    line-height: 1.4;
    margin: 10px auto;
    cursor: pointer;
}

.branch img{
    display: block;
    float: left;
    box-sizing: border-box;
	overflow: hidden;
    border-radius: 10px;
}

.branch_text{
    width: 250px;
    /* border: 1px solid #999; */
    margin: 0px auto 10px auto;
    float: right;
    line-height: 1.4;
}

.branch h2{
    font-size: 19px;
    color:#025255;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.branch h3{
    color: #025255;
    text-align: center;
}

.footer{
    background-color: #025255;
    height: 300px;
    margin-top: 100px;
    font-size: 18px;
}
.footer_container{
    /* border: 1px solid #999; */
    width: 1000px;
    margin: 0 auto;
}

.footer_text{
    color: white;
    line-height: 1.8;
}
.footer_info{
    padding-top: 40px; 
}
.footer_announce{
    padding-top: 30px;
}

.footer_menu{
    float: right;
}

.footer_menu li{
    float: left;
}

.footer_menu a{
    font-size: 30px;
    color: white;
    padding-right: 30px;
}

#map
{
    margin: 20px;
    position: absolute !important; 
    height: 700px !important;
    width: 400px !important;
}

#branch1:hover{
    background-color: rgb(226, 223, 223);
}

#branch2:hover{
    background-color: rgb(226, 223, 223);
}

#branch3:hover{
    background-color: rgb(226, 223, 223);
}