@import url("reset.css");

body{
    font-family:"Helvetica", "Arial","LiHei Pro","微軟正黑體", sans-serif;
    /* word-spacing: 5px; */
    letter-spacing: 2px;
  }
  
  .navbar{
    position: relative;
  }
  
  .navbar_content{
    width: 1200px;
    height: 80px;
    margin: 0 auto;
  }
  
  .navbar_content img{
    float: left;
    height: 60px;
    margin-top: 10px;
  }
  
  .navbar_content .fa-bars {
    display: none;
  }
  
  .navbar_content ul{
    float: right;
  }
  
  .navbar_content li{
    float: left;
    line-height: 80px;
  }
  
  .nav_links a{
    display: block;
    text-decoration: none;
    color: #025255;
    padding: 0 20px;
    font-size: 18px;
  }

    .nav_links .item a{
    text-decoration: none;
    /* font-size: 20px; */
    color:#025255;
    }

    .nav_links .item a:hover{
    color:#F9C50F;
    }

    .nav_links .item:nth-child(4) a{
    background-color: #025255;
    color: #fff;
    }

  .booking a{
  appearance: none;
  background-color: #F9C50F;
  border: 2px solid transparent;
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
  }
  
  .booking a:disabled {
  pointer-events: none;
  }
  
  .booking a:hover {
  color: #fff;
  background-color: #025255;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-5px);
  }
  
  .booking a:active {
  box-shadow: none;
  transform: translateY(0);
  }

.banner{
    background-image: url(../image/Rectangle\ 58_black.png), url(../image/map_banner.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain, cover;
    background-position: 0, center center;
    padding-top: 23.6%;
    /* padding-bottom: 2%; */
}

.banner p{
    color: white;
    font-size: 28px;
    line-height: 1.8;
    margin-left: 40px;
}

.map_container{
    /* border: 1px solid #999; */
    width: 1000px;
    height: 800px;
    margin: 40px auto 100px auto;
}

.branch{
    width: 510px;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 20px 20px 12px 12px;
    float: right;
    line-height: 1.4;
    margin: 10px auto;
    cursor: pointer;
}

.branch:hover{
    background-color: rgb(226, 223, 223);
}

.branch img{
    display: block;
    float: left;
    box-sizing: border-box;
	overflow: hidden;
    border-radius: 10px;
}

.branch_text{
    width: 250px;
    /* border: 1px solid #999; */
    margin: 0px auto 10px auto;
    float: right;
    line-height: 1.4;
}

.branch h2{
    font-size: 22px;
    color:#025255;
    font-weight: bold;
    margin-bottom: 10px;
}

.branch h3{
    color: #797672;
    line-height: 1.5;
}

#map{
    margin: 20px;
    position: absolute !important; 
    height: 700px !important;
    width: 400px !important;
}

.map_icon{
    display: none;
}

.footer{
    background-color: #025255;
    height: 300px;
    /* margin-top: 100px; */
    font-size: 18px;
}
.footer_container{
    /* border: 1px solid #999; */
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

.footer_text{
    color: white;
    line-height: 1.8;
    /* border: 1px solid #999; */
    width: 500px;
   
}
.footer_info{
    padding-top: 40px; 
}
.footer_announce{
    padding-top: 30px;
}

.footer_menu{
    padding-top: 180px;
    padding-left: 140px;
}

.footer_menu li{
    float: left;
}

.footer_menu a{
    font-size: 30px;
    color: white;
    padding-right: 20px;
}

.bottom_menu{
    padding-top: 40px;
    padding-left: 60px;
}

.bottom_menu a{
    color:white;
    line-height: 1.8;
} 
/*-------------------- 428 ---------------------*/
@media  screen and (max-width: 428px){
    
    .disabled{
        overflow: hidden;
    }

    .navbar_content{
        width: auto;
        height: 60px;
        position: relative;
    }

    .navbar_content img{
        height: 40px;
        margin-left: 10px;
    }

    .navbar_content .fa-bars{
        display: block;
        float: right;
        margin-top: 20px;
        margin-right: 10px;
    }

    .navbar_content ul{
        display: none;
        background-color: #797672;
        position: absolute;
        right: 0;
        top: 60px;
        width: 100%;
    }

    .navbar_content .fa-bars:hover ~ ul{
        display: block;
    }

    .navbar_content li{
        float: none;
        clear: both;
        line-height: 40px;
        border-bottom: 1px solid #fff;
    }

    .banner{
        background-image: url(../image/Rectangle\ 58_black.png), url(../image/map_banner.png);
        width: 100%;
        background-size: cover, cover;
        padding-top: calc(28.6%-35px);
    }

    .banner p{
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        margin-left: auto;
        padding-bottom: 35px;
    }

    .map_container{
        width: 375px;
        height: 100%;
        margin: 0 auto;
    }

    .branch{
      width: 100%;
      margin: 25px auto;
      padding: 0;
      float: none;
      border: none;
    }

    .branch:hover{
        background-color: transparent;
    }

    .branch img{
        width: 90%;
        height: 220px;
        border-radius: 5px;
        float: none;
        margin: 0 auto;
    }

    .branch_text{
        width: auto;
        font-size: 16px;
        float: none;
        margin: 0 auto;
    }

    .branch h2{
        margin-top: 15px;
        margin-bottom: 0;
        text-align: center;
    }

    .branch h3{
        color: #797672;
        line-height: 1.6;
        padding: 15px;
    }

    #map{
        display: none;
    }
  
    .map_icon{
        display: block;
        position: relative;
        margin-bottom: 40px;
        /* transform-origin: top;  */
    }

    .map_icon p{
        color: #025255;
        font-size: 22px;
        font-weight: 600;
        position: absolute;
        top: 100px;
        left: 141px;
    }

    .icon{
        width: 100%;
        height: 200px;
    }

    #lightbox{
        /*   border: 1px solid red; */
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          background-color: hsla(0, 0%, 0%, .5);
    }

    #mapMobile{
        background-color: white;
        border-radius: 10px;
        margin: 40px 40px;
        position: absolute !important; 
        height: 70% !important;
        width: 80% !important;
    }

    .none{
        display: none;
    }

    .marker{
        display: block;
        position: absolute;
        top: 56px;
        left: 178px;
        width: 70px;
        height: 45px;
        animation: marker 0.4s ease-out 0s infinite alternate;
    }

    @keyframes marker {
        0%{
            top: 56px;
            left: 178px; 
        }
        100%{
            top: 36px;
            left: 178px;
        }
    }

    .footer{
        height: auto;
        font-size: 12px;
    }

    .footer_container{
        /* border: 1px solid #999; */
        width: auto;
    }

    .footer_text{
        line-height: 1.6;
        /* border: 1px solid #999; */
        width: auto;
        margin: 0 auto;
    }

    .footer_info{
        padding-top: 30px;
        font-size: 12px;
    }

    .footer_announce{
        padding-top: 30px;
    }
    
    .footer_menu{
        display: none;
    }
    
    .bottom_menu{
        display: none;
    }
}

@media  screen and (max-width: 376px){
    .marker{
        display: block;
        position: absolute;
        top: 56px;
        left: 148px;
        width: 70px;
        height: 45px;
        animation: marker 0.4s ease-out 0s infinite alternate;
    }

    @keyframes marker {
        0%{
            top: 56px;
            left: 148px; 
        }
        100%{
            top: 36px;
            left: 148px;
        }
    }

    .map_icon p{
        color: #025255;
        font-size: 22px;
        font-weight: 600;
        position: absolute;
        top: 100px;
        left: 113px;
    }
}