@import url("reset.css");

body{
    font-family:"Helvetica", "Arial","LiHei Pro","微軟正黑體", sans-serif;
    /* word-spacing: 5px; */
    letter-spacing: 2px;
}
.navbar{
    display: flex;
    justify-content: center;
}
    
.item {
    flex-grow: 1;
    padding: 20px;
    border-bottom: 30px solid transparent;
    transition: 0.3s;
}

.logo{
    display: flex;
    width: 100px;
    /* height: 50px; */
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.nav_links{
    display: flex;
    justify-content: space-between;
    margin-left: 400px;
    color: white;
    margin-top: 25px;
}

.item a{
    text-decoration: none;
    font-size: 20px;
    color:#025255;
}

.item a:hover{
    color:#F9C50F;
}

.item:nth-child(2) a {
    border-bottom: 3px solid #025255;
}

.booking a{
    appearance: none;
    background-color: #F9C50F;
    border: 2px solid transparent;
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.booking a:disabled{
    pointer-events: none;
}

.booking a:hover{
    color: #fff;
    background-color: #025255;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-5px);
}

.booking a:active{
    box-shadow: none;
    transform: translateY(0);
}

.banner{
    background-image: url(../image/Rectangle\ 58_black.png),url(../image/restaurant_banner.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain, cover;
    padding-top: 3.6%;
    padding-bottom: 25%;
}

.banner p{
    color: white;
    font-size: 28px;
    line-height: 1.8;
    margin-left: 40px;
}

.maison{
    width: 1000px;
    color:#025255;
    line-height: 1.6;
    margin: 0 auto;
    border: 1px solid transparent;
    margin-top: 50px;
}

.maison h2{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 600;
}

.maison p{
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
   
}

.maison img{
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    box-shadow: 10px 10px 5px  rgb(185, 181, 181, .7);
}

.maison ul{
    width: 950px;
    height: 290px;
    margin: 0 auto;
    display: flex;
}

.maison li{
    background-size: cover;
    background-position: center center;
    transition: .5s;
    filter: blur(2px);
}

.maison .item1{
    background-image: url(../image/Rectangle\ 98.png);
    flex-grow: 2;
}

.maison .item2{
    background-image: url(../image/Rectangle\ 99.png);
    flex-grow: 1;
}

.maison .item3{
    background-image: url(../image/Rectangle\ 101.png);
    flex-grow: 2;
}

.maison li:hover{
    flex-grow: 5;
    filter: none;
}

.japan{
    width: 1000px;
    color:#025255;
    line-height: 1.6;
    margin: 0 auto;
    border: 1px solid transparent;
    margin-top: 50px;
}

.japan h2{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 600;
}

.japan p{
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
   
}

.japan img{
    display: block;
    margin: 0 auto;
    margin-bottom:50px;
    box-shadow: 10px 10px 5px  rgb(185, 181, 181, .7);
}

.japan ul{
    width: 950px;
    height: 290px;
    margin: 0 auto;
    display: flex;
}

.japan li{
    background-size: cover;
    background-position: center center;
    transition: .5s;
    filter: blur(2px);
}

.japan .item4{
    background-image: url(../image/Rectangle\ 100.png);
    flex-grow: 2;
}

.japan .item5{
    background-image: url(../image/Rectangle\ 97.png);
    flex-grow: 1;
}

.japan .item6{
    background-image: url(../image/Rectangle\ 95.png);
    flex-grow: 2;
}

.japan li:hover{
    flex-grow: 5;
    filter: none;
}

.footer{
    background-color: #025255;
    height: 300px;
    margin-top: 100px;
    font-size: 18px;
}
.footer_container{
    /* border: 1px solid #999; */
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

.footer_text{
    color: white;
    line-height: 1.8;
    /* border: 1px solid #999; */
    width: 500px;
   
}
.footer_info{
    padding-top: 40px; 
}
.footer_announce{
    padding-top: 30px;
}

.footer_menu{
    padding-top: 180px;
    padding-left: 140px;
}

.footer_menu li{
    float: left;
}

.footer_menu a{
    font-size: 30px;
    color: white;
    padding-right: 20px;
}

.bottom_menu{
    padding-top: 40px;
    padding-left: 60px;
}

.bottom_menu a{
    color:white;
    line-height: 1.8;
}   