@import url("reset.css");
body{
    font-family:"Helvetica", "Arial","LiHei Pro","微軟正黑體", sans-serif;
    /* word-spacing: 5px; */
    letter-spacing: 2px;
}

.navbar_rwd{
    display: none;
}

.navbar{
    position: relative;
}

.navbar_content{
    width: 1200px;
    height: 80px;
    margin: 0 auto;
}

.navbar_content img{
    float: left;
    height: 60px;
    margin-top: 10px;
}

.navbar_content .fa-bars {
    display: none;
}

.navbar_content .fa-x {
    display: none;
}

.navbar_content ul{
    float: right;
}

.navbar_content li{
    float: left;
    line-height: 80px;
}

.nav_links a{
    display: block;
    text-decoration: none;
    color: #025255;
    padding: 0 20px;
    font-size: 18px;
}

.booking_pc{
    margin-left: 20px;
}

.booking_pc a, .booking a{
  appearance: none;
  background-color: #F9C50F;
  border: 2px solid transparent;
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.booking_pc a:disabled {
  pointer-events: none;
}

.booking_pc a:hover {
  color: #fff;
  background-color: #025255;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-5px);
}

.booking_pc a:active {
  box-shadow: none;
  transform: translateY(0);
}

/*停在哪頁的底色變色*/
.nav_links .item a{
    text-decoration: none;
    /* font-size: 20px; */
    color:#025255;
    }
  
    .nav_links .item a:hover{
    color:#F9C50F;
    }
  
    .nav_links .item:nth-child(2) a{
    background-color: #025255;
    color: #fff;
    }

.banner{
    background-image: url(../image/Rectangle\ 58_black.png),url(../image/restaurant_banner.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain, cover;
    padding-top: 3.6%;
    padding-bottom: 24%;
}

.banner p{
    color: white;
    font-size: 28px;
    line-height: 1.8;
    margin-left: 40px;
}

.maison{
    width: 1000px;
    color:#025255;
    line-height: 1.6;
    margin: 0 auto;
    border: 1px solid transparent;
    margin-top: 50px;
}

.maison h2{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 600;
}

.maison p{
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
   
}

.maison img{
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    box-shadow: 10px 10px 5px  rgb(185, 181, 181, .7);
}

.maison ul{
    width: 950px;
    height: 290px;
    margin: 0 auto;
    display: flex;
}

.maison li{
    background-size: cover;
    background-position: center center;
    transition: .5s;
    filter: blur(2px);
}

.maison .item1{
    background-image: url(../image/Rectangle\ 98.png);
    flex-grow: 2;
}

.maison .item2{
    background-image: url(../image/Rectangle\ 99.png);
    flex-grow: 1;
}

.maison .item3{
    background-image: url(../image/Rectangle\ 101.png);
    flex-grow: 2;
}

.maison li:hover{
    flex-grow: 5;
    filter: none;
}

.food_splide_maison{
    display: none;
}

.japan{
    width: 1000px;
    color:#025255;
    line-height: 1.6;
    margin: 0 auto;
    border: 1px solid transparent;
    margin-top: 50px;
}

.japan h2{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 600;
}

.japan p{
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
   
}

.japan img{
    display: block;
    margin: 0 auto;
    margin-bottom:50px;
    box-shadow: 10px 10px 5px  rgb(185, 181, 181, .7);
}

.japan ul{
    width: 950px;
    height: 290px;
    margin: 0 auto;
    display: flex;
}

.japan li{
    background-size: cover;
    background-position: center center;
    transition: .5s;
    filter: blur(2px);
}

.japan .item4{
    background-image: url(../image/Rectangle\ 100.png);
    flex-grow: 2;
}

.japan .item5{
    background-image: url(../image/Rectangle\ 97.png);
    flex-grow: 1;
}

.japan .item6{
    background-image: url(../image/Rectangle\ 95.png);
    flex-grow: 2;
}

.japan li:hover{
    flex-grow: 5;
    filter: none;
}

.food_splide_japan{
    display: none;
}

.footer{
    background-color: #025255;
    /* height: 200px; */
    margin-top: 100px;
    /* font-size: 18px; */
}
.footer_container{
    /* border: 1px solid #999; */
    width: 800px;
    margin: 0 auto;
    display: flex;
    padding: 20px;
}

.footer_text{
    color: white;
    line-height: 1.5;
    /* outline: 1px solid #999; */
    width: 400px; 
}

.footer_info{
    padding-top: 20px;
    
}

.footer_announce{
    padding-top: 20px;
    font-size: 12px;
}

.footer_menu{
    /* outline: 1px solid#fff; */
    padding-top: 150px;
}

.footer_menu li{
    float: left;
}

.footer_menu a{
    font-size: 25px;
    color: white;
    padding-right: 10px;
}

.bottom_menu{
    /* outline: 1px solid red; */
    padding-top: 40px;
    padding-left: 30px;
    margin-right: 50px;
}

.bottom_menu a{
    color:white;
    line-height: 1.5;
}

/*漢堡選單開啟時，背景不滾動*/
.fixed{
    overflow: hidden;
}
 /*------------------428--------------------*/
 @media  screen and (max-width: 428px){
    .navbar{
        display: none;
    }

    .nav_links .booking_pc{
        display: none;
    }
    .navbar_content_rwd .booking{
        width: 130px;
        margin-right: 20px;
        float: right;
        border: navajowhite;
    }
    .navbar_content_rwd .booking a{
        border-radius: 0%;
    }

    .navbar_rwd{
        display: block;
    }
    .navbar_content_rwd{
        width: auto;
        height: 60px;
        position: relative;
    }

    .navbar_content_rwd img{
        height: 40px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .navbar_content_rwd .fa-bars{
        display: block;
        float: right;
        margin-top: 20px;
        margin-right: 20px;
        font-size: 20px;
        color: #025255;
    }

    .navbar_content_rwd .fa-x{
        display: block;
        float: right;
        margin-top: 20px;
        margin-right: 20px;
        font-size: 23px;
        color: #025255;
    }

    .nav_links_rwd{
        background-color: rgb(197, 196, 196);
        position: absolute;
        right: 0;
        top: 60px;
        width: 100%;
        overflow: hidden;
        z-index: 2;
    }

    .show{
        height: 100vh;
        transition: height 0.3s ease-in ;
    }

    .unShow{
        height: 0vh;
        transition: height 0.3s ease-out ;
    }
  
    .nav_links_rwd li{
        float: none;
        clear: both;
        line-height: 60px;
        border-bottom: 1px solid rgb(235, 233, 233);
        text-align: center;
    }

    .nav_links_rwd a{
        display: block;
        text-decoration: none;
        color: #025255;
        padding: 0 20px;
        font-size: 18px;
    }

    .banner{
        background-image: url(../image/Rectangle\ 58_black.png),url(../image/restaurant_banner.png);
        width: 100%;
        background-size: cover, cover;
        padding-top: calc(28.6% - 70px);
        /* padding-bottom: 25%; */
        background-position: center, left center;
    }

    .banner p{
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        margin-left: auto;
        padding-bottom: 35px;
    }

    .maison ul{
        display: none;
    }

    .food_splide_maison{
        display: block;
        width: auto;
    }
 
    .maison img{
        display: none;
    }

    .maison{
        width: auto;
        margin-top: 30px;
    }
    
    .maison h2{
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
     
    .maison p{
        font-size: 14px;
        margin: 15px;
        line-height: 1.8;
    }

    .japan ul{
        display: none;
    }

    .food_splide_japan{
        display: block;
        width: auto;
    }
 
    .japan img{
        display: none;
    }
    
    .japan{
        width: auto;
        margin-top: 30px;
    }
    
    .japan h2{
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
     
    .japan p{
        font-size: 14px;
        margin: 15px;
        line-height: 1.8;
    }

    .footer{
        height: auto;
        font-size: 12px;
    }

    .footer_container{
        /* border: 1px solid #999; */
        width: auto;
    }

    .footer_text{
        line-height: 1.6;
        /* border: 1px solid #999; */
        width: auto;
        margin: 0 auto;
    }

    .footer_info{
        padding-top: 30px;
        font-size: 12px;
    }

    .footer_announce{
        padding-top: 30px;
    }
    
    .footer_menu{
        display: none;
    }
    
    .bottom_menu{
        display: none;
    }
}